<div *ngIf="identity">

  <nav class="hide-on-large-only">
    <div class="nav-wrapper">
      <a href="#" data-target="nav-mobile" class="sidenav-trigger full hide-on-large-only black-text"><i class="material-icons">menu</i></a>
      <a id="titulonav" [routerLink]="['/']" class="brand-logo center head-title">{{title}}</a>
    </div>
  </nav>

  <ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li class="bold">
      <a [routerLink]="['/']" class="head-title green-text text-darken-1 sidenav-close"><i class="material-icons">music_note</i>{{title}}</a>
    </li>

    <li class="bold">
      <a class="sidenav-close" [routerLinkActive]="['active']"><i class="material-icons">search</i>Buscar</a>
    </li>

    <li class="bold">
      <a [routerLink]="['/artistas',1]" [routerLinkActive]="['active']" class="sidenav-close"><i class="material-icons">stars</i>Artistas</a>
    </li>

    <li class="bold">
      <a class="sidenav-close" [routerLinkActive]="['active']"><i class="material-icons">book</i>Albums</a>
    </li>

    <div class="divider"></div>
    <li class="bold">
      <a class="sidenav-close" [routerLink]="['/mis-datos']" [routerLinkActive]="['active']"><i class="material-icons">build</i>Mis
        datos</a>
    </li>

    <li class="bold">
      <a class="sidenav-close" href="#" (click)="logout()"><i class="material-icons">close</i>Cerrar sesion</a>
    </li>
  </ul>

  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>


<div *ngIf="!identity" class="row container">
  <div *ngIf="errorMessage" class="card-panel red lighten-3 col s12">
    {{errorMessage}}
  </div>

  <div class="col s12 m6">
    <h1 class="center-align">Identificate</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div>
        <label>Correo electronico</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" required>
        <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
      </div>
      <div>
        <label>Contraseña</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" required>
        <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
      </div>

      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>

  <div class="col s12 m6">
    <h1 class="center-align">Registrate</h1>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" ngNativeValidate>
      <div>
        <label>Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" required>
        <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
      </div>
      <div>
        <label>Apellidos</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" required>
        <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios</span>
      </div>
      <div>
        <label>Correo electronico</label>
        <input type="email" #emailR="ngModel" name="emailR" [(ngModel)]="user_register.email" required>
        <span *ngIf="!emailR.valid && emailR.touched">El email es obligatorio</span>
      </div>
      <div>
        <label>Contraseña</label>
        <input type="password" #passwordR="ngModel" name="passwordR" [(ngModel)]="user_register.password" required>
        <span *ngIf="!passwordR.valid && passwordR.touched">La contraseña es obligatoria</span>
      </div>

      <input type="submit" value="Registrarse" class="btn btn-primary">
    </form>
  </div>
</div>