body{
    background: #eee;
}

form input+span{
color: #e57373 ;
}

*{
    word-wrap: break-word;
}
.ovweflow-x {
    overflow-x: auto;
}

.head-title{
    font-size: 20px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

#titulonav{
    font-size: 30px !important;
}

header, main, footer {
    padding-left: 300px;
}

.active{
    color: #43a047 !important; 
}

@media only screen and (max-width: 992px){
    header, main, footer {
        padding-left: 0;
    }
}